.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}
.details {
  width: 650px;
  max-width: 100%;
  background-color: #fafafa;
}

.add-entry-icon {
  padding: 0 14px;
}

.navigation-spacer {
  flex: 1 1 auto;
}

.fab-bottom-right {
  position: -webkit-sticky;
  position: sticky;
  left: calc(100% - 50px);
  bottom: 20px;
}

.selected {
  color: #3f51b5;
}
.green {
  color: green;
}
.red {
  color: red;
}