.attribute-full-width {
    width: 100%;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
    margin-top: 20px;
    margin-bottom: 5px;
}

.strike > span {
    position: relative;
    display: inline-block;
    color: #AAAAAA;
    font-size: 16px;
}

.bool {
    margin-top: 10px;
    margin-bottom: 10px;
}